.form-table th {
    width: 200px;
  }
  
  #slideshow-images {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #slideshow-images li {
    display: inline-block;
    margin: 10px;
    position: relative;
  }
  
  #slideshow-images li img {
    width: 100%;
    max-width: 200px;
    min-height: 200px;
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  #slideshow-images li a.remove-slideshow-image {
    background-color: #333;
    color: #fff;
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
  }
  
  #slideshow-images li a.remove-slideshow-image:hover {
    background-color: #444;
  }
